@import "../../01-atoms/01-colors/01-colors";

.__person.field__items {
  // text-align: justify;
  margin: 20px;
  // &:after {
  //   content: '';
  //   width: 100%;
  //   display: inline-block;
  // }
}
.person-item {
  display: inline-block;
  width: 33%;
  margin-bottom: 25px;
  vertical-align: top;
}
.person-container {
  .person-photo {
    background-size: cover;
    background-position: top center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    &.small {
      width: 76px;
      height: 76px;
    }
  }
  .person-bio {
    display: inline-block;
    width: 160px;
    .person-name {
      a {
        text-decoration: underline;
        color: $color-blue;
        > * {
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
    .person-title {
      color: $color-gray;
      font-weight: 600;
    }
    .person-subtitle {
      color: $color-gray;
      font-weight: normal;
    }
  }
}