@import "../../01-atoms/01-colors/01-colors";

.person-container {
  .person-photo {
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 76px;
    height: 76px;
  }
  .person-bio {
    display: inline-block;
    width: 160px;
    text-align: left;
    .person-name {
      a {
        text-decoration: underline;
        color: $color-blue;
        > * {
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
    .person-title {
      color: $color-gray;
      font-weight: 600;
    }
    .person-subtitle {
      color: $color-gray;
      font-weight: normal;
    }
  }
}