@import "../../01-atoms/01-colors/01-colors";
@import "../../01-atoms/02-typography/01-fonts";

.sfgov-contact-container {
  h3 {
    @include rubik;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 20px;
  }
  @include rubik;
  > .sfgov-contact-section {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-left: 60px;
    line-height: 2em;
    position: relative;
    h5, h6 {
      @include rubik;
      font-size: 2rem;
      padding: 0;
      margin: 0 0 15px 0;
      text-transform: none;
      font-weight: 500;
    }
    h6 {
      font-weight: 300;
      font-size: 1.7rem;
      padding: 0;
      margin: 0;
    }
    p {
      padding: 0;
      margin: 0;
      line-height: 2em;
    }
    &::after {
      content: ' ';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      left: 30px;
    }
    &.address {
      width: 35%;
      &::after {
        background: url(../images/icons/location-2.svg) no-repeat;
      }
    }
    &.phone-numbers {
      width: 32%;
      .phone {
        margin-bottom: 40px;
        .details {
          font-style: italic;
          color: #999;
        }
      }
      &::after {
        background: url(../images/icons/phone-2.svg) no-repeat;
      }
    }
    &.email {
      width: 32%;
      p {
        line-height: normal;
      }
      &::after {
        background: url(../images/icons/mail-2.svg) no-repeat;
      }
    }
  }
}